

*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content:space-between;
    background-color:#696969;

}
i.fa-desktop{
    padding: 10px 0 10px 40px;
    color: #fff;
    font-size: 30px;
}

i.fa-desktop:hover{
    color: #FF69B4;
    transition: .8s;
    cursor: pointer;
}


nav ul{
    display: flex;
    list-style-type: none;
    
}
nav li{

    padding: 0 20px;
    font-family: sans-serif;

}

li:last-child{
    padding: 0 40px 0 20px;
}

nav li a{
    text-decoration: none;
    color: #fff;
}
nav li a:hover{
    color: #FF69B4;
    transition: .6s;
}

main{
    display: flex;
    flex-direction: column;
}

.hero{
    background-color: #FF69B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000;
    padding-bottom: 60px;
}


.subhero{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 0px;
    font-family: sans-serif;
    font-weight: 600;
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 7px;    
}

.hero button{
    border: none;
    font-family: sans-serif;
    background-color: black;
    padding: 10px 40px;
    font-size: 28px;
    color: #FF69B4;
}
.hero button:hover{
    cursor: pointer;
    background-color: #fff;
    transition: 0.7s;
}
h2{
    font-family: serif;
    font-size: 28px; 
}


h5{

    font-family: Azeret Mono, serif;
    margin: 20px 0 5px 0;
    font-size: 20px; 
}


.service {
    background-color:#C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.service div{
    display: flex;
    justify-content: center;
}

.service figure{
    text-align: center;

}

.service i{
    font-size: 90px;
}

.service i:hover{
    transition: 0.3s;
    color: #FF69B4;
    cursor: pointer;
}

.service  p{
    font-family:  sans-serif;
    font-size: 14px;
}




h3{
    font-family: serif;


}


.subportfolio{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 0px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 5px 0;
}


.portfolio{
    background-color:#F0E68C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}


.portfolio img{
    border-radius: 15px;
    height: 180px;
    width: 280px;
    margin: 0 30px 30px 5px;
    padding: 0 10px;
}


.gallery div{
    display: flex;
    justify-content: center;
}




h4{
    font-family:sans-serif;
    font-size: 20px; 
    font-weight: 200;
    margin: 15px 0;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.contact{

    background-color: #5F9EA0;
}


.contact button{
    font-size: 25px;
    padding: 10px 11px;
    border-radius: 50px;
    background-color: #5F9EA0;
    border: #000 solid 1px;
    margin-right: 40px;
}


.contact button:hover{
    color: #fff;
    background-color: #000;
    transition: .8s;
    cursor: pointer;
}


footer{
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #f9f9f8;
    font-size: 20px;
    padding: 5px 0px;
}


footer p{
    font-family: sans-serif;
    margin: 15px 0px;
}


footer i{
    font-size:15px;
    transition: .7s;
}


footer:hover i{
    color:#FF0000;
    cursor: pointer;
}



@media screen and (min-width:600px) and (max-width: 830px){
    .service div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .gallery{
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .gallery div {
        display: block;

        
    }
    
}
@media screen and (min-width:320px) and (max-width: 599px){
    
    header{
    display: flex;
    justify-content:space-between;

}
    nav ul{
        margin: 10px 0px;
    }
    nav li {
        padding: 0px 5px;
    }
    .service div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
     .gallery{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .gallery div {
        display: block;
        
    }
}


